<div *ngIf="getFromApi.loaded">
  <!-- Event's title, date and host -->
  <div class="row navbar-fixed-top">
    <div class="container event-title-heading content-ext-wrapper" id="eventInfoNav">
      <div class="col-sm-8 col-xs-12">
        <div class="title-time">{{event.time | date: 'fullDate'}}</div>
        <div class="title-main">
          {{event.title}}
          <a href="./event/{{event.id}}" (click)="onClick()" target="_blank">
            <small>
              <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            </small>
          </a>
        </div>
        <div class="row">
          <div class="title-host">
            <img class="avatar-title avatar" src="{{event.creator.avatarUrl}}" height="30" width="30"> Hosted by:
            <strong>{{event.creator.name}}</strong>
          </div>
          <div class="event-logo-mini visible-xs">
            <img src="{{imgUrl(event.type)}}" height="30">
          </div>
        </div>
      </div>
      <div class="col-sm-4 hidden-xs">
        <div class="event-logo">
          <img src="{{imgUrl(event.type)}}" height="50">
        </div>
      </div>
    </div>
  </div>

  <!-- Event's Attendees and Map and Comments -->
  <div class="container" id="eventInfoWrapper">

    <!-- Displaying Map View -->
    <div class="col-sm-6 col-sm-push-6 col-md-5 col-md-push-7">
      <div class="row map-container">
        <div class="map-heading">
          <div>
            <span class="glyphicon glyphicon-time info" aria-hidden="true"></span>
            {{event.time | date: 'shortTime'}}
          </div>
          <div>
            <span class="glyphicon glyphicon-map-marker info" aria-hidden="true"></span>
            {{event.location.name}}
          </div>
        </div>
      </div>
      <div class="row map-container">
        <iframe id="gMap" class="map zoomIn animated" src="" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
          <span id="{{ iFrameSrc(event.location.latitude,event.location.longitude) }}"></span>
        </iframe>
      </div>
      <br>
    </div>

    <!-- Column of Attendees and Comments -->
    <div class="col-sm-6 col-sm-pull-6 col-md-7 col-md-pull-5">

      <!-- Displaying Attendees -->
      <div class="row">
        <div class="col-xs-12">
          <strong class="pull-left">Attending ({{event.guests.length}}):</strong>
        </div>
        <br>
        <br>
        <div *ngFor="let g of event.guests" class="col-xs-3 col-md-2">
          <div class="row">
            <img class="avatar" src="{{g.avatarUrl}}" height="50" width="50">
          </div>
          <div class="row">
            {{g.name}}
          </div>
        </div>
        <div class="col-xs-12">
          <br>
        </div>
      </div>

      <!-- In case there are no comments -->
      <div *ngIf="event.comments==''">
        <div class="pull-left">
          <strong>Comments:</strong>
        </div>
        <div>
          <br>
          <br>
        </div>
        <div class="pull-left">
          No comments to show
        </div>
        <br>
      </div>

      <!-- If there are indeed comments -->
      <div *ngIf="event.comments!=''">
        <div class="pull-left">
          <strong>Comments:</strong>
        </div>
        <br>
        <div class="container-fluid">
          <br>
          <!-- Each comment display-->
          <div *ngFor="let n of event.comments; let i=index" class="row">
            <!-- Avatar-->
            <div class="col-xs-3 col-sm-2">
              <img class="avatar" src="{{n.user.avatarUrl}}" height="50" width="50">
            </div>
            <!-- Comment-->
            <div class="col-xs-9 col-sm-10 col-md-9">
              <div class="comment-box">
                <div class="row text-left">
                  <strong>{{n.user.name}}</strong>
                </div>
                <div class="row text-center">{{n.message}}</div>
                <div class="time row text-right text-muted">
                  {{n.timestamp | date: 'short'}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div *ngIf='getFromApi.loaded && this.route.routeConfig.path=="event/:id" '>
  <app-footer></app-footer>
</div>