<div class="content-ext-wrapper">
  <div class="content-wrapper">
    
    <!-- Not found message -->
    <div class="row">
      <div class="">
        <span class="glyphicon glyphicon-alert error" aria-hidden="true"></span>
        <p class="error-message">
          Sorry, this event does not exists.
        </p>
      </div>
    </div>  
    
    <!-- Displaying Go Back Button -->
    <div class="row">
        <div class="">
          <button id="goBackBtn" (click)="onClick()" class="btn btn-lg btn-primary btn-block">Search events</button>
        </div>
    </div>
    <p></p>
   
    <!-- Footer -->   
    <app-footer></app-footer>
    
  </div>
</div>