@import 'https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';
/* Note:
    There are some inline styles defined in index.html.
    They were defined in there in order for the loading div to be styled
    before all styles load.    
*/

/*General styling for the App*/

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: #e5cb90;
}

.drinks-app {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

.drinks-app .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.drinks-app .form-control:focus {
  z-index: 2;
  border-color: #4c3800;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #4c38008c;
}

/* Custom button styling */

.btn {
  background-color: #4C3800;
  border-color: #4C3800;
}

.btn:hover {
  background-color: #dbb561;
  border-color: #dbb561;
  color: #4C3800;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #4C3800;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background-color: #4C3800;
  border-color: #4C3800;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #4C3800;
}

/* Styling for comments */

img.avatar{
  border-radius: 50%;
}

.comment-box {
	position: relative;
	background: #fcfcfc;
  border-radius: .4em;
  margin-bottom: 15px;
}

.comment-box .row{
  margin-left: 10px;
  margin-right: 10px;
}

.comment-box:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #FCFCFC;
  top: 10px;
  left: -11px;
}

.comment-box .time{
  font-size: 0.7em;
}

/* Styling for the Event's Info Screen */
.event-name{
  color: #4C3800;
  font-size: 3em;
  font-weight: bold;
}

.error{
  font-size: 100px;
  color: #4c3800;
  margin-top: 1em;
  margin-bottom: 0.2em;
}

.error-message{
  font-size: 2em;
  margin-bottom: 1em;
}

.info{
  font-size: 20px;
  color: grey;
}

.map{
  height: 20em;
  width: -webkit-fill-available;
  background-color: white;
}

.map-heading{
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-weight: bolder;
}

.event-title-heading{
  background-color: #4C3800;
  margin-bottom: 20px;
  box-shadow: 0px 1px 4px 0px;
}

.map-container{
  padding: 0px   16px;
}

.active-event{
  font-weight: bold;
  color: #4C3800;
}

#center-trick{
  height: 20vh;
}

.title-time{
  color: grey;
  font-size: 1.2rem;
  margin-top: 10px;
}

.title-main{
  font-size: 3.5rem;
  color: white;
  font-family: 'Oleo Script', cursive;
}

.title-host{
  color: white;
  margin-bottom: 8px;
}

.avatar-title{
  margin-right: 10px;
}

.event-logo{
  width: fit-content;
  margin: 30px auto;
  padding: 7px;
  border-style: solid;
  border-radius: 20%;
  border-width: 2px;
  border-color: grey;
}

.event-logo-mini{
  width: fit-content;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 8px;
  padding: 1px;
  border-style: solid;
  border-radius: 20%;
  border-width: 2px;
  border-color: grey;
}

.content-ext-wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper{
  width: 400px;
}

#eventInfoNav{
  height:210px;
}

#eventInfoWrapper{
  padding-top: 10px;
  margin-top: 210px;
}

/* Adjusts the Navbar height and content top margin for big screens */

@media (min-width: 768px) {

  #eventInfoNav{
    height:130px;
  }

  #eventInfoWrapper{    
    margin-top: 130px;
  }

 }


 /* Styles for the add-comment-box */

 .comment-box-wrapper{
  margin-top: 5px;
  height: 60px;
 }

 .toolT {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.toolT .toolTText {
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 0%;
  font-size: smaller;
  transition: opacity 2s;
}

.toolT .toolTText::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.deleteEnabled a{
  color: red;
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  right: 30px;
  font-weight: 800;
  cursor: pointer;
  top: 0px;
  text-decoration: none;
}