@import 'https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';
/* Note:
    There are some inline styles defined in index.html.
    They were defined in there in order for the loading div to be styled
    before all styles load.    
*/

/*General styling for the App*/

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: #e5cb90;
}

.drinks-app {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

.drinks-app .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.drinks-app .form-control:focus {
  z-index: 2;
  border-color: #4c3800;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #4c38008c;
}

.drinks-app input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.drinks-app input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn {
  background-color: #4C3800;
  border-color: #4C3800;
}

/* Custom button styling */

.btn:hover {
  background-color: #dbb561;
  border-color: #dbb561;
  color: #4C3800;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #4C3800;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background-color: #4C3800;
  border-color: #4C3800;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #4C3800;
}

img.avatar{
  border-radius: 50%;
}

.comment-box {
	position: relative;
	background: #fcfcfc;
  border-radius: .4em;
  margin-bottom: 15px;
}

.comment-box .row{
  margin-left: 10px;
  margin-right: 10px;
}

.comment-box:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #FCFCFC;
  top: 10px;
  left: -11px;
}

.comment-box .time{
  font-size: 0.7em;
}

.event-name{
  /* font-family: "Brush Script MT", Brush Script Std, cursive; */
  color: #4C3800;
  font-size: 3em;
  font-weight: bold;
}

.error{
  font-size: 100px;
  color: #4c3800;
  margin-top: 1em;
  margin-bottom: 0.2em;
}

.error-message{
  font-size: 2em;
  margin-bottom: 1em;
}

.loc{
  font-size: 20px;
}

.map{
  height: 20em;
  width: -webkit-fill-available;
}