 <!-- Loading screen -->

 <div *ngIf="sharedInfo.showInfo&&(!getFromApi.loaded)">
  <div class="loader"></div>
</div>

 <!-- Event Info Screen -->

<div *ngIf="sharedInfo.showInfo&&getFromApi.loaded" class="drinks-app">

  <!-- Displaying Event's gen. info -->
  <div *ngIf="!(getFromApi.error || getFromApi.events.length==0)">
    <h1 class="event-name">
      {{getFromApi.events[sharedInfo.currentEvent-1]['title']}}
      <img src="{{imgUrl(getFromApi.events[sharedInfo.currentEvent-1]['type'])}}" height="30">
    </h1>
    <div>
      <div>{{getFromApi.events[sharedInfo.currentEvent-1]['time'] | date: 'long'}}</div>
      
      <strong>        
        <!-- <div >{{getFromApi.events[sharedInfo.currentEvent-1]['type']}}</div> -->
        <div>
          @ {{getFromApi.events[sharedInfo.currentEvent-1]['location']['name']}}
          <a href="{{googleMapLink(getFromApi.events[sharedInfo.currentEvent-1]['location']['latitude'],getFromApi.events[sharedInfo.currentEvent-1]['location']['longitude'])}}" target="_blank">
            <span class="glyphicon glyphicon-map-marker loc" aria-hidden="true"></span>
          </a>
        </div>
      </strong>
      <div>hosted by: {{getFromApi.events[sharedInfo.currentEvent-1]['creator']['name']}}</div>
      <br>

      <!-- Displaying Attendees -->

      <div class="pull-left">
          <strong>Attending ({{getFromApi.events[sharedInfo.currentEvent-1]['guests'].length}}):</strong>
        </div><br><br>

      <div class="container-fluid">
        <div class="row">
          <div *ngFor="let g of getFromApi.events[sharedInfo.currentEvent-1]['guests']" class="col-xs-3">
            <div class="row">
              <img class="avatar" src="{{g['avatarUrl']}}" height="50" width="50">
            </div>
            <div class="row">
              {{g['name']}}
            </div>
          </div>
        </div>
      </div><br>

      <!-- Displaying Comments -->

      <div *ngIf="getFromApi.events[sharedInfo.currentEvent-1]['comments']!=''">
        <div class="pull-left">
          <strong>Comments:</strong>
        </div>
        <br>

        <div class="container-fluid">
          <br>

          <div *ngFor="let n of getFromApi.events[sharedInfo.currentEvent-1]['comments']; let i=index" class="row">

            <div class="col-xs-2">
              <img class="avatar" src="{{n['user']['avatarUrl']}}" height="50" width="50">
            </div>

            <div class="col-xs-10">
              <div class="comment-box">
                <div class="row text-left">
                  <strong>{{n['user']['name']}}</strong>
                </div>
                <div class="row text-center">{{n['message']}}</div>
                <div class="time row text-right text-muted">
                  {{n['timestamp'] | date: 'short'}}
                </div>
              </div>
            </div>

          </div>
          <!-- End of Individual Comment wrapper -->

        </div>
      </div>
      <!-- End of Comments Section -->

      <!-- Displaying Pagination Controls -->
      <nav *ngIf="getFromApi.events.length>1" aria-label="Page navigation">
        <ul class="pagination">
          <li *ngIf="sharedInfo.currentEvent>1" (click)="decEvent()">
            <a aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          <li *ngFor="let n of getFromApi.events; index as i" (click)="changeEvent(i)">
            <a>{{i+1}}</a>
          </li>

          <li *ngIf="sharedInfo.currentEvent<getFromApi.events.length" (click)="incEvent()">
            <a aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End of Pagination Controls -->

    </div>

  </div>
  <!-- End of Event info -->
  
  <div *ngIf="(getFromApi.error || getFromApi.events.length==0)">

    <span class="glyphicon glyphicon-alert error" aria-hidden="true"></span>
    <p class="error-message">
      Sorry, there has been an error or your search did not produce any results. Please try again.
    </p>

  </div>

  <button id="goBackBtn" (click)="onClick()" class="btn btn-lg btn-primary btn-block">Go back</button>
</div>
